/* line 5, ../sass/map.scss */
.map-page {
  width: 100%;
  position: absolute;
  top: 45px;
  bottom: 0px;
  z-index: 2;
}
/* line 12, ../sass/map.scss */
.map-page .banner {
  position: absolute;
  display: none;
}
/* line 17, ../sass/map.scss */
.map-page .tooltip {
  display: none;
  cursor: pointer;
  padding: 8px;
  min-width: 80px;
  position: absolute;
  background-color: #fefefe;
  z-index: 100;
  border: 1px solid rgba(1, 1, 1, 0.3);
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
}
/* line 27, ../sass/map.scss */
.map-page .tooltip h3 {
  font-weight: normal;
  white-space: nowrap;
  line-height: 22px;
}
/* line 34, ../sass/map.scss */
.map-page .map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* line 43, ../sass/map.scss */
.map-page.showBanner .banner {
  display: block;
}
/* line 46, ../sass/map.scss */
.map-page.showBanner .map-container {
  top: 50px;
}
